{% extends 'admin/admin_base.html' %}

{% block title %}
    Python Blog -Көмек береді
{% endblock %}

{% block admin_content %}
<div class="entry-box">
    <h4><strong>Python блогының анықтамалық беті</strong></h4>
    <hr/>
    <h5 style="color: #337ab7"><strong>1.Python блогы дегеніміз не?...</strong></h5>
    <p>
        &nbsp;&nbsp;&nbsp;Python блогы Flask компаниясы әзірлеген <code> дерекқоры </code> негізіндегі Python тіл блог жүйесі.
         Мынадай негізгі ерекшеліктері бар:
    </p>
    <p>
        1.Қарапайым интерфейс, Front-end framework Bootstrap пайдаланып, жауап береді
    </p>
    <p>
        2........
    </p>
    <p>
        3.......
    </p>
    <p>
        4......
    </p>
    <p>
        5.....
    </p>
</div>
{% endblock %}